body {
  margin: 0;
  padding: 0;
  color: #4F4F4F;
  font-size: 24px;
  background-color: beige;
}

* {
  box-sizing: border-box;
}

#root {
  padding: 16px;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

h1 {
  margin: 0;
  margin-inline-end: 16px;
}

.button {
  display: block;
  background-image: url('./assets/refreshIcon.svg');
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border-color: transparent;
}

.btn-lead {
  background: #333333;
  text-align: justify;
}

p {
  padding-top: 50px;
  padding-left: 29px;
  padding-right: 400px;
  color: white;
}

.name::after {
  content: '→';
  display: block;
  width: 10px;
  height: 1px;
  position: relative;
  left: 400px;
}

.genre {
  padding-top: 0;
  padding-bottom: 73px;
}

ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
}

.container {
  background: #434CCC;
  color: white;
}

.container,
li {
  padding: 32px;
  border-radius: 8px;
}

li {
  background-color: white;
  list-style: none;
}

.home {
  display: block;
  text-indent: -9999px;
  background-image: url(./assets/arrow.svg);
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  text-decoration: none;
}

@media (max-width:900px) {

  #root {
    max-width: 900px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    padding: 0;
  }

}

 @media (min-width: 1000px) {

  .container {
    max-width: 700px;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 16px;
  }
}


